################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Installer/Release
Installer/Debug
*/[Bb]in/*
*/[Oo]bj/*
packages/*
.vs/*