################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Installer/Release
/Installer/Debug
*/[Oo]bj/*
*/[Bb]in/*
packages/*
.vs/*