################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Installer/Release
/MangaReader/bin/Debug
/MangaReader/obj
/Updater/bin
/Updater/obj/Debug
/Updater/obj/Release
/MangaReader/bin/Release
/Installer/Debug
